.title {
	text-align: center;
}

.board {
	width: 500px;
	height: 500px;
	background-color: grey;
	position: relative;
}

.head {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: red;
}

.food {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: green;
}
